<app-header-top></app-header-top>

<!-- Login -->
<section id="login" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="uppercase">Reset Password</h2>
        <p class="heading_space">Enter your new password</p>
      </div>
    </div>
    <div class="row" id="messageSection">
      <div *ngIf="messages.length > 0" class="col-md-12 text-center">
        <ul class="messages">
          <li class="{{m.type}}" *ngFor="let m of messages">{{m.text}}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="profile-login" style="padding:40px 0px;">
          <div class="agent-p-form no-tt">
            <form action="#" class="callus clearfix" #f="ngForm" (ngSubmit)="reset(f.value, f.valid)" novalidate>
              <div class="single-query form-group col-sm-12">
                <input type="password" class="no-tt keyword-input" placeholder="New Password"
                       name="password" [(ngModel)]="form.password"
                       #password="ngModel" required>
                <small class="error" [hidden]="password.valid || (password.pristine && !f.submitted)">
                  Password is required.
                </small>
              </div>
              <div class="single-query form-group col-sm-12">
                <input type="password" class="no-tt keyword-input" placeholder="Repeat New Password"
                       name="repeatPassword" [(ngModel)]="form.repeatPassword"
                       #repeatPassword="ngModel" required>
                <small class="error" [hidden]="repeatPassword.valid || (repeatPassword.pristine && !f.submitted)">
                  Repeat Password is required.
                </small>
              </div>
              <div class=" col-sm-12">
                <input type="submit" value="Login" class="btn-slide border_radius">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Login end -->

<app-footer></app-footer>
