<section id="stripe_donate" class="bg_edit">
  <div class="container bg_dblue pt60 pb60">
    <div class="row pb20">
      <div *ngIf="thankYouMessage" class="col-xs-12 text-center">
        <h2>Thank You.</h2>
        <p class="heading_space">{{thankYouMessage}}</p>
      </div>
      <div class="col-xs-12 text-center">
        <h2 class="uppercase">Spread the Message</h2>
        <p>{{shareMessage}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a (click)="share()"
           class="border_radius btn-yellow btn-fb-blue text-uppercase">
          <i class="fa fa-facebook" aria-hidden="true"></i> Share Now
        </a>
      </div>
    </div>
    <div class="row text-center pt40">
      <span><i class="icons-md fa fa-facebook-square"></i></span>
      <p>Every single share on Facebook greatly boosts the chances
        <br/>of this cause succeeding in reaching its target. Please Share.</p>
    </div>
  </div>
</section>
