<!-- Gallery -->


<section id="property" class="padding bg_gallery">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase">Ongoing Fundraisers</h2>
        <p class="heading_space">Below causes are currently using Raise Better to meet their goals.</p>
      </div>
    </div>

    <div *ngFor="let post of posts">
        <h2>{{post.title}}</h2>
    </div>

    <div id="property-gallery" class="cbp listing1">

      <div class="cbp-item latest"  *ngFor="let post of posts">
        <div class="property_item">
      <h2>{{post.title}}</h2>
        </div>
      </div>
    </div>

    <div class="col-sm-12 text-center top20">
      <a href="listing1.html" class="btn-dark border_radius uppercase margin40">More Causes</a>
    </div>
    <div class="col-sm-12 text-center top20">
      <a href="listing1.html" class="btn-yellow border_radius uppercase margin20">Start Fundraising</a>
    </div>
  </div>
</section>
<!-- Gallery End -->
