<!--Testinomials-->
<section id="testinomialBg" class="padding bg_light">
  <div id="agent-2" class="padding_bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="uppercase">AGENTS YOU CAN TRUST</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec viverra erat Aenean elit tellus.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 margin40">
          <div class="agent_wrap">
            <div class="image text-center">
              <h2 style="padding-top: 80px;padding-bottom: 20px;">£{{rb_total}}</h2>
              <img style="width: auto;" src="/assets/images/logo.png">
              <div class="img-info">
                <h3>Raise Better</h3>
                <span>1.5% Platform Feed | 1.4% + 20p Card Processing Fees</span>
                <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer.</p>
                <table class="agent_contact table">
                  <tbody>
                  <tr class="bottom10">
                    <td><strong>Phone:</strong></td>
                    <td class="text-right">(+01) 34 56 7890</td>
                  </tr>
                  <tr>
                    <td><strong>Email Adress:</strong></td>
                    <td class="text-right"><a href="#.">bohdan@castle.com</a></td>
                  </tr>
                  </tbody>
                </table>
                <hr>
                <a class="btn-more" href="agent_profile.html">
                  <i><img alt="arrow" src="images/arrow-yellow.png"></i><span>Full Profile</span><i><img alt="arrow" src="images/arrow-yellow.png"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 margin40">
          <div class="agent_wrap">
            <div class="image text-center">
              <h2 style="padding-top: 80px;padding-bottom: 20px;">£{{jg_total}}</h2>
              <img style="width: auto;" src="/assets/images/justgiving-logo.jpg">
              <div class="img-info">
                <h3>Just Giving</h3>
                <span>1.5% Platform Feed | 1.4% + 20p Card Processing Fees</span>
                <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer.</p>
                <table class="agent_contact table">
                  <tbody>
                  <tr class="bottom10">
                    <td><strong>Phone:</strong></td>
                    <td class="text-right">(+01) 34 56 7890</td>
                  </tr>
                  <tr>
                    <td><strong>Email Adress:</strong></td>
                    <td class="text-right"><a href="#.">bohdan@castle.com</a></td>
                  </tr>
                  </tbody>
                </table>
                <hr>
                <a class="btn-more" href="agent_profile.html">
                  <i><img alt="arrow" src="images/arrow-yellow.png"></i><span>Full Profile</span><i><img alt="arrow" src="images/arrow-yellow.png"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 margin40">
          <div class="agent_wrap">
            <div class="image text-center">
              <h2 style="padding-top: 80px;padding-bottom: 20px;">£{{gfm_total}}</h2>
              <img style="width: auto;" src="/assets/images/gfm-logo.png">
              <div class="img-info">
                <h3>Go Fund Me</h3>
                <span>1.5% Platform Feed | 1.4% + 20p Card Processing Fees</span>
                <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer.</p>
                <table class="agent_contact table">
                  <tbody>
                  <tr class="bottom10">
                    <td><strong>Phone:</strong></td>
                    <td class="text-right">(+01) 34 56 7890</td>
                  </tr>
                  <tr>
                    <td><strong>Email Adress:</strong></td>
                    <td class="text-right"><a href="#.">bohdan@castle.com</a></td>
                  </tr>
                  </tbody>
                </table>
                <hr>
                <a class="btn-more" href="agent_profile.html">
                  <i><img alt="arrow" src="images/arrow-yellow.png"></i><span>Full Profile</span><i><img alt="arrow" src="images/arrow-yellow.png"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Testinomials ends-->


<section id="news" class="padding bg_light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="uppercase">How do we compare with other platforms?</h2>
        <p class="heading_space">Here's how you keep more of what your raise with Raise Better.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center pt40 pb20">For every £500 you raise</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped table-responsive">
          <thead>
          <tr>
            <th colspan="2"></th>
            <th class="text-center" colspan="2">Raise Better</th>
            <th class="text-center" colspan="2">Just Giving</th>
            <th class="text-center" colspan="2">Go Fund Me</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="2">Platform Fees</td>
            <td>1.5%</td>
            <td>£{{rb_pf}}</td>
            <td>5%</td>
            <td>£{{jg_pf}}</td>
            <td>5%</td>
            <td>£{{gfm_pf}}</td>
          </tr>
          <tr>
            <td colspan="2">Payment Processor Fees</td>
            <td>1.4% + 20p</td>
            <td>£{{rb_cpf}}</td>
            <td>1.25%</td>
            <td>£{{jg_cpf}}</td>
            <td>3.5% + 20p</td>
            <td>£{{gfm_cpf}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="2">What You Keep</th>
            <th class="text-center" colspan="2">£{{rb_total}}</th>
            <th class="text-center" colspan="2">£{{jg_total}}</th>
            <th class="text-center" colspan="2">£{{gfm_total}}</th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>
