<button type="button" class="form_opener"><i class="fa fa-bars"></i></button>

<div class="tp_overlay">
  <div class="topbar clearfix">
    <ul class="breadcrumb_top">
      <li><a [routerLink]="['login']"><i class="icon-icons179"></i>Login / Sign Up</a></li>
      <li class="last-icon"><i class="icon-icons215"></i></li>
    </ul>
  </div>

  <form class="callus top10 clearfix centered" #f="ngForm" (ngSubmit)="save(f.value, f.valid)" novalidate>
    <h2 class="text-uppercase t_white bottom40 text-center">Low Fees. Instant Payments.</h2>

    <div class="row">
      <div class="col-md-4 t_white">
        <h4>I want to raise:</h4>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="single-query bottom15">
          <input type="text" class="keyword-input t_yellow" style="color:black !important; font-size: 24px"
                 value="5000" name="amount" [(ngModel)]="overlayForm.amount" #amount="ngModel" required>

          <small class="error" [hidden]="amount.valid || (amount.pristine && !f.submitted)">
            Amount is required.
          </small>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class=" single-query bottom15">
          <select>
            <option selected="" value="gbp">Pounds(£)</option>
            <option value="dollar">Dollars($)</option>
            <option value="euro">Euros(€)</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="t_white col-md-12 bottom15">
        <h4>to help with:</h4>
      </div>
      <div class="col-md-12">
        <div class="single-query bottom15">
          <input type="text" class="keyword-input lowercase" placeholder="Title of your Fundraiser" name="title" [(ngModel)]="overlayForm.title" #title="ngModel" required>
          <small class="error" [hidden]="title.valid || (title.pristine && !f.submitted)">
            Title is required.
          </small>

        </div>
      </div>
    </div>

    <!--
    <div class="row top15">
      <div class="col-sm-12">
        <div class="single-query">
            <select name="category" [(ngModel)]="overlayForm.category" #category="ngModel" required>
              <option selected="" value="any">Pick a Category</option>
              <option>Animal Welfare</option>
              <option>Children & Youth</option>
              <option>Disability Support</option>
              <option>Emergencies</option>
              <option>In Memory</option>
              <option>Local Community</option>
              <option>Social Welfare</option>
              <option>Others</option>
            </select>
          <small class="error" [hidden]="category.valid || (category.pristine && !f.submitted)">
            Category is required.
          </small>
        </div>
      </div>
    </div>
    -->
    <div class="row">
      <div class="t_white col-md-12 bottom15">
        <h4>your email address:</h4>
      </div>
      <div class="col-md-12">
        <div class="bottom15" style="width: 100%">
          <input type="email" class="keyword-input" placeholder="Email" style="width: 100%" name="email" [(ngModel)]="overlayForm.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <small class="error" [hidden]="email.valid || (email.pristine && !f.submitted)">
            Email is required.
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-right form-group top30">
        <button type="submit" class="border_radius btn-yellow text-uppercase">Start Fundraising Now</button>
      </div>
    </div>
  </form>
</div>
