<button type="button" class="form_opener"><i class="fa fa-bars"></i></button>

<div class="tp_overlay">
  <div class="topbar clearfix">
    <ul class="breadcrumb_top">
      <li><a href="login.html"><i class="icon-icons179"></i>Login / Sign Up</a></li>
      <li class="last-icon"><i class="icon-icons215"></i></li>
    </ul>
  </div>

  <form class="callus top10 clearfix centered">
    <h2 class="text-uppercase t_white bottom40 text-center">Start Fundraising Now</h2>

    <div class="row">
      <div class="col-md-4 t_white">
        <h4>I want to raise:</h4>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="single-query bottom15">
          <input type="text" class="keyword-input t_yellow" style="color:black !important; font-size: 24px"
                 value="5000">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class=" single-query bottom15">
          <select>
            <option selected="" value="gbp">Pounds (£)</option>
            <option value="dollar">Dollars</option>
            <option value="euro">Euros (€)</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="t_white col-md-12 bottom15">
        <h4>to help with:</h4>
      </div>
      <div class="col-md-12">
        <textarea rows="4" style="width: 100%;border: 1px solid #d5dadf;border-radius: 4px;"></textarea>
      </div>
    </div>

    <div class="row top15">
      <div class="col-sm-12">
        <div class="single-query">
            <select>
              <option selected="" value="any">Pick a Category</option>
              <option>All areas</option>
              <option>Bayonne</option>
              <option>Greenville</option>
              <option>Manhattan</option>
              <option>Queens</option>
              <option>The Heights</option>
            </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-right form-group top30">
        <button type="submit" class="border_radius btn-yellow text-uppercase">Start Fundraising</button>
      </div>
    </div>
  </form>
</div>
