<!--Parallax-->
<section id="parallax_four" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 bottom30">
        <!--h2 class="uppercase">How is <strong>Raise Better</strong> different?</h2-->
        <h2 class="uppercase">How is <span class="rb_logo"></span> different ? </h2>
      </div>
      <div class="col-sm-8 col-md-10">
        <div class="row">
          <div class="col-sm-6 margin40">
            <i class="icon-credit-card"></i>
            <h4 class="bottom10">Better Fees</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power nonummy nibh tempor cum soluta nobis eleifend.</p>
          </div>
          <div class="col-sm-6 margin40">
            <i class="icon-wallet2"></i>
            <h4 class="bottom10">Better Payments</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power nonummy nibh tempor cum soluta nobis eleifend.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 margin40">
            <i class="icon-share3"></i>
            <h4 class="bottom10">Better Engagement</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power nonummy nibh tempor cum soluta nobis eleifend.</p>
          </div>
          <div class="col-sm-6 margin40">
            <i class="icon-lock-rounded"></i>
            <h4 class="bottom10">Better Safety</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power nonummy nibh tempor cum soluta nobis eleifend.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--About Owner ends-->
