small.error {
  color: red !important;
  text-align: left;
}

.no-tt {
  text-transform: none !important;
  transition: none !important;
}

.messages {
  color: darkred;
  padding: 24px;
  margin: 10px auto 30px ;
  background-color: aliceblue;
  border-radius: 10px;
  border: 0.5px solid #1f3f81;
  font-family: robotoregular;
  font-size: 16px;
  width: 500px;
}
