.pt20{
  padding-top: 20px;
}

.pb20{
  padding-bottom: 20px;
}

.pb40{
  padding-bottom: 40px;
}

.pr20{
  padding-right: 20px;
}

.mr10{
  margin-right: 10px;
}

.float-right{
  float:right
}

.btn-slim{
  padding: 5px 10px;
  border-radius: 2px;
}

[hidden] {
  display: none;
}

.bg_edit {
  background-color: #edf3f8;
}

