<section id="property" class="bg_edit">
  <div class="container bg_white padding">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="uppercase">Connect your Bank Account</h2>
        <p class="heading_space">Before you can go live you will need to tell us where to transfer the funds you
          receive</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="testinomial-slider" class="owl-carousel display navigate">
          <div class="item">
            <div class="testinomial_content text-center">
              <div class="row pb40">
                <a href="#" class="stripe-connect"><span>Connect with Stripe</span></a>
              </div>
              <!--<img src="/assets/images/author2.png" alt="happy client" class="bottom15">-->
              <!--<h4 class="uppercase"> SAM NICHOLSON</h4>-->
              <!--<span class="smmery bottom15">( NorthMarq Capital  )</span>-->
              <!--<img src="/assets/images/stars.png" alt="rating" class="bottom30">-->
              <div class="row">
                <p>We dont store any of your critical bank details on our servers.
                  <br/>We let the security experts, Stripe do it.</p>
                <p class="font-15 pt20">Once you press the above button you will be taken to Stripe where you can
                  securely create your account<br/> and connect it to this fundraiser.
                  You will be redirected back to our website once the process completes.</p>
              </div>
              <div class="row pt40">
                <a target="_blank" href="https://stripe.com"><img src="/assets/images/powered_by_stripe.png" alt="powered by stripe"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Changes will not be saved?</h4>
      </div>
      <div class="modal-body">
        <p>You pressed the Close button. Changes will not be save.</p>
        <p>Click Close to discard changes. Or Cancel to return to editing</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeBtn('close')" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" (click)="closeBtn('cancel')" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
