<div class="text-center" style="width:600px;margin: 40px auto;">

  <form action="/charge" method="post" id="payment-form" #f="ngForm">

    <div class="row">
      <div class="col-md-8">
        <div class="single-query bottom15">
          <div class="input-group">
            <span class="input-group-addon"
                  style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                  border: 1px solid transparent;
                  font-size: 16px;"><i
              class="fa fa-user"></i></span>
            <input type="text" class="keyword-input t_yellow"
                   placeholder="Name"
                   style="color:black !important;
                   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                   font-size: 16px;
                   -webkit-font-smoothing: antialiased;
	                 -moz-osx-font-smoothing: grayscale;
                   border: 1px solid transparent;
                   border-radius: 0px 4px 4px 0px;
                   padding-left: 10px;
                   line-height: 2em;"
                   name="name" [(ngModel)]="overlayForm.name" #name="ngModel" required>

          </div>
          <small class="error" [hidden]="name.valid || (name.pristine && !f.submitted)">
            Name is required.
          </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-query bottom15">
          <div class="input-group">
            <input type="text" class="keyword-input t_yellow"
                   placeholder="50"
                   style="color:black !important;
                   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                   font-size: 16px;
                   -webkit-font-smoothing: antialiased;
	                 -moz-osx-font-smoothing: grayscale;
                   padding-left: 10px;
                   border: 1px solid transparent;
                   border-radius: 4px 0px 0px 4px;
                   line-height: 2em;"
                   name="amount" [(ngModel)]="overlayForm.amount" #amount="ngModel" required>
            <span class="input-group-addon"
                  style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                  border: 1px solid transparent;
                  font-size: 16px;">GBP</span>
          </div>
          <small class="error" [hidden]="amount.valid || (amount.pristine && !f.submitted)">
            Amount is required.
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="card-element" class="pb10">
          Credit or Debit Card Details
        </label>
        <div id="card-element">
          <!-- a Stripe Element will be inserted here. -->
        </div>
        <!-- Used to display form errors -->
        <div id="card-errors" class="pt10" role="alert"></div>
      </div>
    </div>
    <div class="row pb20">
      <button type="submit" class="stripe-connect"><span>Donate with Stripe</span></button>
    </div>
  </form>
</div>
