<div class="text-center" style="width:500px;margin: 40px auto;">

  <form action="/charge" method="post" id="payment-form">
    <div class="form-row pb20">
      <label for="card-element" class="pb10">
        Credit or Debit Card Details
      </label>
      <div id="card-element">
        <!-- a Stripe Element will be inserted here. -->
      </div>
      <!-- Used to display form errors -->
      <div id="card-errors" class="pt10" role="alert"></div>
    </div>

    <button type="submit" class="stripe-connect"><span>Donate with Stripe</span></button>

  </form>
</div>
