<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th colspan="2">Stripe Integration Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><b>Connected</b></td>
    <td class="text-right">
      <span *ngIf="!connected" class="red"><i class="fa fa-times-circle"></i></span>
      <span *ngIf="connected" class="green"><i class="fa fa-check-circle"></i></span>
    </td>
  </tr>

  <tr *ngIf="connected">
    <td><b>Enabled</b></td>
    <td class="text-right">
      <span class="green" *ngIf="chargesEnabled"><i class="fa fa-check-circle"></i></span>
      <span class="red" *ngIf="!chargesEnabled"><i class="fa fa-times-circle"></i></span>
    </td>
  </tr>
  <tr *ngIf="connected">
    <td><b>Verified</b></td>
    <td class="text-right">
      <span class="green" *ngIf="detailsSubmitted"><i class="fa fa-check-circle"></i></span>
      <span class="red" *ngIf="!detailsSubmitted"><i class="fa fa-times-circle"></i></span>
    </td>
  </tr>
  </tbody>
</table>
