<!--Header-->
<header class="layout_default">
  <div class="header-upper">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="logo">
            <a href="/">
              <img alt="" src="/assets/images/logo.png">
              <img alt="" src="/assets/images/made-in-britain.jpg" class="mib">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-sticky bootsnav">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Start Header Navigation -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand sticky_logo" href="/" style="width: 226px;">
              <img src="/assets/images/logo-white.png" class="logo" alt="">
            </a>
          </div>
          <!-- End Header Navigation -->

          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
              <li><a *ngIf="!isLogin()" routerLink="/login">Login</a></li>
              <li><a *ngIf="isLogin()" routerLink="/home">Home</a></li>

              <li *ngIf="isLogin()" class="dropdown">
                <a href="#." class="dropdown-toggle" data-toggle="dropdown">Edit</a>
                <ul class="dropdown-menu">
                  <li><a [routerLink]="'edit/fundraiser'">Edit Fundraiser Details</a></li>
                  <li><a [routerLink]="'edit/me'">Edit Your Details</a></li>
                  <li><a [routerLink]="'edit/bank'">Edit Bank Details</a></li>
                </ul>
              </li>

              <li><a *ngIf="isLogin()" href="#" (click)="logout()">Logout</a></li>
              <li><a *ngIf="!isLogin()" href="#.">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!--Header Ends-->
