<app-header-top></app-header-top>

<!-- Property Detail Start -->
<section id="property" class="padding_top padding_bottom_half">
  <div class="container">
    <div class="row" *ngIf="post">
      <div class="col-md-8 listing1 property-details">
        <h2 class="text-uppercase">{{post.title}}</h2>
        <p class="bottom30">{{post.subTitle}}</p>
        <div class="row">
          <img style="max-width: 100%" [src]="post.image" alt="image"/>
        </div>
        <div class="row top30" [innerHtml]="post.story"></div>
      </div>
      <aside class="col-md-4 col-xs-12">
        <div *ngIf="others">
          <div class="row">
            <div class="col-md-12">
              <h3 class="bottom40 margin40">Past Posts</h3>
            </div>
          </div>
          <div *ngFor="let o of others" class="row bottom20">
            <div class="col-md-4 col-sm-4 col-xs-6 p-image">
              <img [src]="o.image" alt="image"/>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-6">
              <div class="feature-p-text">
                <h4>{{o.title}}</h4>
                <p class="bottom15">{{o.subTitle}}</p>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
<!-- Property Detail End -->

<app-footer></app-footer>
