.stat {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

.bb1p {
  border-bottom: 1px solid #d3d8dd;
}

.post_meta span {
  padding: 0px 10px;
  border-right: 1px solid gray;
}

.post_meta span:first-child {
  border-left: 1px solid gray;
}

#donateBtn {
  width: 100%;
}

#donateBtn2 {
  width: 100%;
  margin-top: 10px;
}

.sticky #donateRow{
  float:left;
}

.sticky #donateBtn{
  width:200px;
}

.sticky #donateBtn2{
  width:200px;
  margin-top:0px;
}

.btn-fb-blue{
  background-color: #3b5998;
  color: white;
}
