.stat {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

.bb1p {
  border-bottom: 1px solid #d3d8dd;
}

.bt1p {
  border-top: 1px solid #d3d8dd;
}

.post_meta span {
  padding: 0px 10px;
  border-right: 1px solid gray;
}

.post_meta span:first-child {
  border-left: 1px solid gray;
}

#donateBtn {
  width: 100%;
  text-align: center;
}

#donateBtn2 {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#loggedInMenu .btn {
  padding: 10px 10px;
  background-color: #3b5998;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

#loggedInMenu .btn-group {
  width: 100%;
}

#loggedInMenu .btn:first-child {
  width: 70%;
}

#loggedInMenu .btn-live {
  background-color: #ffd119;
  color: black;
  text-transform: uppercase;
  width:80% !important;
}

#editBtn .dropdown-menu a {
  padding: 5px 10px;
  display: block;
}

#editBtn .dropdown-menu a:hover {
  background-color: #0f3e68;
  color: white;
}

.sticky #donateRow {
  float: left;
}

.sticky #donateBtn {
  width: 200px;
}

.sticky #donateBtn2 {
  width: 200px;
  margin-top: 0px;
}

