<app-fundraiser-header [status]="postStatus"></app-fundraiser-header>
<app-cookies-ribbon name="fundraiser"></app-cookies-ribbon>
<!-- Page Banner Start-->
<section class="page-banner padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
      </div>
    </div>
  </div>
</section>
<!-- Page Banner End -->
<router-outlet></router-outlet>
<!-- Property Detail Start -->
<section id="property" class="pt20 pb20">
  <ng2-toasty [position]="'top-right'"></ng2-toasty>
  <div class="container property-details" *ngIf="post">
    <div class="row bottom30">
      <div class="col-md-8 listing1">
        <div class="row">
          <h2 class="text-uppercase">{{post.title}}</h2>
          <p>{{post.subTitle}}</p>
        </div>
        <div class="row top15 post_meta">
          <span><i class="icon-user"></i> {{post.author.fname| titlecase}} {{post.author.lname| titlecase}}</span>
          <span><i class=" icon-calendar"></i> {{post.created | date: 'dd/MM/yyyy'}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <sticky [sticky-parent]=false [sticky-offset-top]="10" [sticky-zIndex]="999">
          <div class="row" id="donateRow">
            <a [ngClass]="{'disabled':!isPostLive()}" id="donateBtn" (click)="scrollTop()" [routerLink]="'donate'"
               class="border_radius btn-yellow text-uppercase"
               [attr.ga-on]="'click'" [attr.ga-event-category]=[post.sid] [attr.ga-event-action]="'post-donate-btn'">
              Donate Now
            </a>
            <a [ngClass]="{'disabled':!isPostLive()}" id="donateBtn2" (click)="scrollTop()" [routerLink]="'share'"
               class="border_radius btn-yellow btn-fb-blue text-uppercase"
               [attr.ga-on]="'click'" [attr.ga-event-category]=[post.sid] [attr.ga-event-action]="'post-share-btn'">
              <i class="fa fa-facebook" aria-hidden="true"></i> Share Now
            </a>
            <p class="text-center pt10" style="color:darkred" [ngClass]="{'hidden':isPostLive()}">
              This post is not Live
            </p>
          </div>
        </sticky>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 listing1">
        <div class="row"><img style="max-width: 100%" [src]="post.image" alt="image"/></div>
        <div class="row top30" [innerHtml]="post.story"></div>
      </div>
      <aside class="col-md-4 col-xs-12 ">

        <div class="row pb20 bb1p">
          <div class="col-sm-4">
            <div class="agent_wrap">
              <div class="image">
                <img [src]="post.author.avatar" alt="image"/>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="agent_wrap">
              <h3>{{post.author.fname | titlecase}} {{post.author.lname | titlecase}}</h3>
              <p class="bottom30">{{post.author.bio}}</p>
            </div>
          </div>
        </div>

        <div *ngIf="isAuthorLogin()" id="loggedInMenu" class="bb1p row pb20">
          <div class="col-md-12">
            <div id="editBtn" class="row">
              <div class="col-md-12 col-sm-12 pt10 pb10 text-center">
                <div class="btn-group">
                  <button data-toggle="dropdown" type="button" class="btn btn-primary">
                    <span class="fa fa-edit"></span>
                    Edit Details
                  </button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                          data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-chevron-down"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu p10">
                    <a [attr.ga-on]="'click'" [attr.ga-event-category]=[post.sid]
                       [attr.ga-event-action]="'post-edit-btn'"
                       class="dropdown-item" (click)="scrollTop()" [routerLink]="'edit'">Edit Fundraiser</a>
                    <a [attr.ga-on]="'click'" [attr.ga-event-category]=[post.sid]
                       [attr.ga-event-action]="'post-edit-author-btn'"
                       class="dropdown-item" (click)="scrollTop()" [routerLink]="'edit-author'">Edit Author</a>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!isPostLive()" id="goLiveBtn" class="row">
              <div class="col-md-12 col-sm-12 pt10 pb10 text-center">
                <a [attr.ga-on]="'click'" [attr.ga-event-category]=[post.sid]
                   [attr.ga-event-action]="'post-go-live-btn'"
                   (click)="scrollTop()" type="button" class="btn btn-live" [routerLink]="'setup-payments'">
                  <span class="fa fa-bolt"></span>
                  Go Live!
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <app-stripe-connect-status></app-stripe-connect-status>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center row top30 bb1p">
          <div class="col-sm-12 bottom15">
            <div class="c100 p{{post.target | percentcalc: post.collected}} green" style="margin: 0 auto">
              <span>{{post.target | percentcalc: post.collected}}%</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row text-center">
              <h3 class="pb10">Collected {{post.collected | currency:post.currency:true}}</h3>
              <p>Target {{post.target | currency:post.currency:true}}</p>
            </div>
          </div>
        </div>
        <div class="row top30">
          <app-activity-feed></app-activity-feed>
        </div>
      </aside>
    </div>
  </div>
</section>

<app-footer></app-footer>
