<section id="property" class="padding bg_edit">
  <div class="container property-details">
    <div class="row pb20">
      <h2 class="text-uppercase" style="display: inline;">Edit Fundraiser Details</h2>
      <button class="float-right btn-blue btn-slim" data-toggle="modal" data-target="#myModal">Close</button>
    </div>
    <div class="row">
      <form-wizard>
        <wizard-step [title]="'Fundraiser Details'" [isValid]="emailForm.form.valid" (onNext)="onStep1Next($event)">
          <form #emailForm="ngForm">
            <div class="container">
              <div class="row pt20 pb40" *ngIf="post">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="single-query bottom15">
                        <input type="text" class="keyword-input lowercase" placeholder="Title of your Fundraiser"
                               name="title" [(ngModel)]="post.title" #title="ngModel" required>
                        <small class="error" [hidden]="title.valid || (title.pristine && !emailForm.submitted)">
                          Title is required.
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="single-query bottom15">
                        <textarea
                          name="story" [(ngModel)]="post.story" #story="ngModel" required></textarea>
                          <small class="error" [hidden]="story.valid || (story.pristine && !emailForm.submitted)">
                          Title is required.
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <input id="photoupload" type="file" accept="image/*" (change)="readUrl($event)">
                  <div *ngIf="url; else originalImg">
                    <button style="float:right" id="addphoto" (click)="addPhoto()">Upload Photo</button>
                    <img class="editPostImage" [src]="url">
                  </div>
                  <ng-template #originalImg>
                    <div>
                    <img class="editPostImage"[src]="post.image">
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </form>
        </wizard-step>
        <wizard-step [title]="'Your Details'" (onNext)="onStep2Next($event)">
        </wizard-step>
        <wizard-step [title]="'Bank Details'" (onNext)="onStep3Next($event)">
        </wizard-step>
        <wizard-step [title]="'Step4'" [showNext]="'false'" (onComplete)="onComplete()">
          <div [ngSwitch]="isCompleted">
            <div *ngSwitchDefault>
              Form incomplete
            </div>
            <div *ngSwitchCase="true">
              <h4>Thank you! You have completed all the steps.</h4>
            </div>
          </div>
        </wizard-step>
      </form-wizard>
    </div>
  </div>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Changes will not be saved?</h4>
      </div>
      <div class="modal-body">
        <p>You pressed the Close button. Changes will not be save.</p>
        <p>Click Close to discard changes. Or Cancel to return to editing</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeBtn('close')" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" (click)="closeBtn('cancel')" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
