#stripeProcessingUpdates {
  width: 800px;
  margin: auto;
  padding: 40px;
  background-color: rgba(255, 209, 25, 0.12);
  border: solid 0.5px blue;
}

#stripeProcessingUpdates p.success {
  color: green;
}

#stripeProcessingUpdates p.error {
  color: red;
}
