<section id="property" class="bg_edit">
  <div class="container bg_white padding">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="uppercase">Your Fundraiser is now Live!</h2>
        <p class="heading_space">It will stay live for the next 30 days after which it will automatically close.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center ">
        <a href="{{postUrl}}" class="btn-yellow text-uppercase">Go to Fundraiser</a>
      </div>
    </div>
  </div>
</section>
